<html>
    <header>        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </header>
    <body>
        <center><img src="https://imgur.com/CmiLuwM.jpg"><br />
        <h1 class="alert-success">Welcome Advisor!</h1>
        <br />
        <div class="alert alert-danger" role="alert">ATTENTION!!!: 2021 registration has begun, bugs and errors may occur.</div>
        <small class="form-text text-muted">Please report any issues you encounter to the admin team.</small>
        <br />
        <font color="black"><button class="btn btn-warning"><a href="/list">See All Class Registrations</a></button> * <button class="btn btn-outline-success"><a href="/users">View Student List</a></button> * <button class="btn btn-dark"><a href="/">Logout</a></button> * <button class="btn btn-secondary"><a href="/success/student">Register a Student for Classes</a></button></font>
        <br />
    </center></body>
</html>