<html>
    <header>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <h3 class="alert alert-dark">2021 Class Selection List</h3>
    </header>
    <br />
    <button class="btn btn-warning"><a href="/systemlogin">Login</a></button> * <button class="btn btn-dark"><a href="/">Return to Home Page</a></button>
    <br />

    <span class="border border-dark">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info"><b>CIST 001 Technology of Computing</b> <i>Required for CIST Majors</i></li>
        <li class="list-group-item list-group-item-dark"><b>ELEC 002 Photography</b> <i>Elective Course</i></li>
        <li class="list-group-item list-group-item-info"><b>CIST 003 Systems Analysis and Design</b> <i>Required for CIST Majors</i></li>
        <li class="list-group-item list-group-item-dark"><b>ELEC 004 Nail Art</b> <i>Elective Course</i></li>
    </ul>
    </span>
</html>