<!doctype html>
<html>
    <header>   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </header>
	<body>
		<table border="1" class="table table-striped">
			<thead>
				<td>Student Name</td>
				<td>Major</td>
				<td>Student ID</td>
			</thead>
								
		{% for row in rows %}
				<tr>
					<td>{{ row["name"]}}</td>
					<td>{{ row["major"] }}</td>
					<td>{{ row["studentid"] }}</td>	
				</tr>
		{% endfor %}
        </table>
        <br />
        <button class="btn-outline-warning"><a href="/">GO back to the home page.</a></button> * <i>This will require you to log back in!</i>
        </body>
        </html>